@model BigAssignment.Models.Category
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "CategoryDetail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>CategoryDetail</h1>
<section class="content my-2">
    <div class="container-fluid">
        <!--Content-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <h5 class="text-csm">@ViewBag.Title</h5>
                    </div>
                    <div class="col-4">
                        <div class="float-right pt-1">
                            <button type="button" class="btn btn-primary btn-sm">
                                <a asp-action="EditCategory" asp-route-categoryId="@Model.Id" class="text-white"><i class="fas fa-pen"></i>&nbsp; Sửa</a>
                            </button>
                            @*<button type="button" class="btn btn-danger btn-sm">
                                <a asp-action="PutCategoryToTrash" asp-route-categoryId="@Model.Id" class="text-white"><i class="far fa-trash-alt fa-xs"></i>&nbsp;Xóa</a>
                            </button>*@
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered table-hover">

                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => Model.Id)</th>
                        <td scope="col">  @Html.DisplayFor(model => Model.Id)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Name)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Name)</td>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Slug)</th>
                        <td scope="col">  <a href="~/@Html.DisplayFor(model => model.Slug)">@Html.DisplayFor(model => model.Slug)</a></td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.ParentId)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.ParentId)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Orders)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Orders)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.MetaKey)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.MetaKey)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.MetaDesc)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.MetaDesc)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.CreatedAt)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.CreatedAt)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.CreatedBy)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.CreatedBy)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.UpdatedAt)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.UpdatedAt)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.UpdatedBy)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.UpdatedBy)</td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
</section>
