@model IEnumerable<BigAssignment.Models.Category>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "CategoryTrashList";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content py-2">
    <div class="container-fluid">
        <!--Content-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <h5 class="text-csm">@ViewBag.Title</h5>
                    </div>
                    <div class="col-4">
                        <div class="float-right pt-1">

                            <button type="button" class="btn btn-danger btn-sm">
                                <a asp-action="CategoryList" class="text-white"> <i class="fas fa-sign-out-alt "></i>&nbsp; Thoát</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="cate1" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center no-sort" style="width:3rem;">ID</th>
                            <th class="no-sort">Tên danh mục</th>
                            <th class="no-sort">Cấp cha</th>
                            <th class="no-sort">Ngày tạo</th>
                            <th class="no-sort text-center" style="width:10rem">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">@item.Id</td>
                                <td><a href="#">@item.Name</a>  </td>
                                <td>
                                    <a href="#">
                                        @item.ParentId

                                    </a>
                                </td>
                                <td>@item.CreatedAt</td>

                                <td class="text-center">
                                    <form asp-action="PutCategoryToTrash" method="post">
                                        <input type="hidden" name="categoryId" value="@item.Id" />
                                        <button type="submit" class="btn btn-success">Put Back To List</button>
                                    </form>

                                    <form asp-action="DeleteCategory" method="get">
                                        <input type="hidden" name="categoryId" value="@item.Id" />
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
